body {
  background-color: #c8e3d4;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  margin-top: 80px;
  font-size: 85px;
  line-height: 1;
  color: #87aaaa;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 35px;
  opacity: 0.7;
  font-family: "Comfortaa", cursive;
  margin-top: 15px;
}

h4 {
  color: #87aaaa;
  font-family: "Poppins", sans-serif;
}

a {
  color: #f6eabe;
  font-size: 20px;
  text-decoration: solid;
  display: flex;
  justify-content: space-evenly;
  font-family: "Comfortaa", cursive;
}

a:hover {
  color: #f6d7a7;
}

p {
  font-family: "Poppins", sans-serif;
}

.button {
  background-color: #87aaaa;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.container {
  margin: 100px auto;
}

.cats {
  display: flex;
  justify-content: center;
}

.project-h1 {
  margin-top: 80px;
}

.cooking {
  margin-top: 20px;
}

.hero h1 {
  color: #f6eabe;
  margin: 0 auto;
  padding-top: 50px;
}

.hero h3 {
  padding-bottom: 30px;
}

.hero {
  background-color: #87aaaa;
}

.about-section h1 {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
}

.about-section h2 {
  font-size: 20px;
  font-family: "Comfortaa", cursive;
}

.about-section {
  padding: 50px 20px;
}

.about-section-content {
  margin: 30px;
}

.about-section p {
  font-family: "Poppins", sans-serif;
}

.project-links {
  display: flex;
  margin-top: 30px;
  justify-content: flex-start;
}

.project-links a {
  margin: 0;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.project-title {
  font-size: 23px;
  font-family: "Comfortaa", cursive;
}

.project-pics {
  border-radius: 5%;
}

.content-container {
  text-align: center;
  margin: 60px auto;
}

.content-container h1 {
  padding: 10px;
}

.content-container a {
  color: #87aaaa;
}

.content-container a:hover {
  color: #f6d7a7;
}

footer {
  margin: 100px;
}

footer .email-link {
  text-decoration: none;
  color: #87aaaa;
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

footer .email-link:hover {
  color: #f6d7a7;
}

footer .social-links a {
  margin: 0 20px;
  color: #f6eabe !important;
  background: #87aaaa !important;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #f6d7a7 !important;
}

footer .git-link {
  text-decoration: underline;
  color: black;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  display: inline-flex;
}

footer a:hover {
  color: #f6d7a7;
}

@media (max-width: 600px) {
  .project-links {
    display: block;
    text-align: center;
    margin: 50px auto;
  }
  h1 {
    font-size: 30pt;
    padding: 3px;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }

  .project-title {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding: 0px;
  }

  .about-section-content h1 {
    margin: 15px;
    font-size: 50px;
  }
}
