body {
  background-color: #c8e3d4;
}

h1,
h2 {
  text-align: center;
}

a {
  color: #87aaaa;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
}

a:hover {
  color: #ffbf86;
}

.button {
  background-color: #f6d7a7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.container {
  margin: 100px auto;
}

.chef {
  position: relative;
  top: 20px;
}

.phone {
  position: relative;
  top: 60px;
}
